<section class="info-box" id="info-box">
  <div class="info-box__item info-card">
    <span class="info-box__value" id="info-box-start-weight">{{startWeight}}</span>
    <span class="info-box__sup-text">кг</span>
    <h3 class="info-box__title">Начальный вес</h3>
  </div>

  <div class="info-box__item info-card">
    <span class="info-box__value" id="info-box-current-weight">{{currentWeight}}</span>
    <span class="info-box__sup-text">кг</span>
    <h3 class="info-box__title">Текущий вес</h3>
  </div>

  <div class="info-box__item info-card">
    <span class="info-box__value" id="info-box-target-weight">{{targetWeight}}</span>
    <span class="info-box__sup-text">кг</span>
    <h3 class="info-box__title">Целевой вес</h3>
  </div>

  <div class="info-box__item info-card">
    <span class="info-box__value" id="info-box-remaining">{{remaining}}</span>
    <span class="info-box__sup-text">кг</span>
    <h3 class="info-box__title">Осталось</h3>
  </div>
  
  <div class="info-box__item info-card">
    <span class="info-box__value" id="info-box-changes">{{changes}}</span>
    <span class="info-box__sup-text">кг</span>
    <h3 class="info-box__title">Изменение</h3>
  </div>

  <div class="info-box__item info-card">
    <span class="info-box__value" id="info-box-bmi">{{bmi}}</span>
    <h3 class="info-box__title">ИМТ</h3>
  </div>
</section> 