<div class="statistics-page" id="statistics-page">
  <div class="statistics info-card">
    
    <table class="statistics__table table">
      <thead>
        <tr>
          <th scope="col">Тенденции</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Изменения за последние 7 дней</td>
          <td>{{changesForWeek}} кг</td>
        </tr>
        <tr>
          <td>Изменения за последние 30 дней</td>
          <td>{{changesForMonth}} кг</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th scope="col">Прогресс</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Среднее изменение в день</td>
          <td>{{changeForDay}} кг</td>
        </tr>
        <tr>
          <td>Число дней до достижения цели</td>
          <td>{{daysLeft}} дней</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th scope="col">В целом</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Рекорд (максимум)</td>
          <td>{{maxWeight}} кг</td>
        </tr>
        <tr>
          <td>Рекорд (минимум)</td>
          <td>{{minWeight}} кг</td>
        </tr>
        <tr>
          <td>Всего измерений</td>
          <td>{{amountRecords}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>